body{
	background-image: url(./images/kitchen_1.png);
	display: flex;
	flex-direction: row;
}

.object-container{
	padding: 1rem;
	border: 1px solid black;
	border-radius: 25px;
	display: grid;
	grid-gap; 2rem;
	grid-template-columns: 1fr 1fr; 
}

.object-container:hover{
	background-color:white;
	font-size: 80px;
}

img:hover{
	width: 600px height:600px;
}

div.room{
	font-family: Arial;
	font-size: 50px;
}

a{
	background-color: white;
	color: red;
}

span{
	//*background-color: white;*//
	border: 1px solid black;
}

span:hover{
	color:red;
}

img{
	width: 200px;
	height: 200px;
}

h1{
	font-family: Arial;
	font-size: 50px;
	margin: 0;
}
