
img{
    width: 100px;
}

.image-container{
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
}

h1 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: #00bfb6;
  font-size: small;
  text-decoration: underline;
}

#image-caption{
    display: none;
}
