html {
    font-size: 100%;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-img-size-adjust: 100%;
    /* 2 */
    -ms-img-size-adjust: 100%;
    /* 2 */
  }

  #pic, #photo{
    width: 100%;
    object-fit: contain;
    }
 #prev, #next{
     height: 50%;
     object-fit: contain;
 }

#im{
    padding-left: 5%;
}

body{
    background-color: white;
}

.inone{
    display: flex;
    flex-direction: column;
}

#head{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#slides{
    display: flex;
    flex-direction: column;

}

#buttons{
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 00;
    font-size: 40px;
    line-height: 147.91%;
    display: flex;
    letter-spacing: -0.03em;
}

h2{
    width: 50%;
    padding-left: 5%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 00;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    letter-spacing: -0.03em;
}

#l{
    color: #6FA358;
}
#o{
    color: #E3536F;
}
#oo{
    color: #61B7F0;
}
#m{
    color: #FFB700E5;
}

h3{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 147.91%;
    display: flex;
    letter-spacing: -0.03em;
}

#inonetext{
    width: 50%;
}

h4{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 147.91%;
    display: flex;
    letter-spacing: -0.03em;
}

#head2{
    display: flex;
    flex-direction: row;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .image-replacement {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

