html {
    font-size: 100%;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-img-size-adjust: 100%;
    /* 2 */
    -ms-img-size-adjust: 100%;
    /* 2 */
}

h1{
    font-family: 'Lora', serif;
    font-size:large;
}

h2{
    font-family: 'Lora', serif;
    font-size: large;
}

h3{
    font-family: 'Lora', serif;
    font-size: medium;
}
