

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-img-size-adjust: 100%;
  /* 2 */
  -ms-img-size-adjust: 100%;
  /* 2 */
}


.all{
  display: flex;
  flex-direction: column;
}


.buttons{
  display: flex;
  justify-content: center;
  padding: 5%;
  align-items: center;
}

.projects{
  height: 500px; 
  padding: 5%;
  background: url(./images/background.gif);
}

iframe{
  height: 500px;
  width: 100%;
}

@media only screen and (max-width: 768px){
  .projects{
    height: 1000px;
  }

  iframe{
    height: 1000px;
    width: 100%;
  }
}

.contact{
  display: flex;
  flex-direction: column;
}



.card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5%;
}

#vid{
  width: 100px;
}


.p1 {
  color:#069; 
  cursor:pointer;
}


#slides {
  left: 50px;
  list-style-type: none;
}


.slide {
  display: none;
}

#projects{
  padding: 100px;
}
#mary{
  display: none;
}

#web{
  display: none;
}

#java{
  display: none;
}

#resume{
  display: none;
}