

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-img-size-adjust: 100%;
  /* 2 */
  -ms-img-size-adjust: 100%;
  /* 2 */
}


.all{
  display: flex;
  flex-direction: row;
  width: 1200px;
  max-width: calc(100% - 20px);
  margin: 20px auto;
  padding: 10px;
}

.navigation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  max-width: calc(100% - 20px);
  margin: 20px auto;
  padding: 10px;
}

.buttons{
  padding: 0%;
  display: inline-flex;
}

.projects{
  height: 600px; 
  width: 700px;
  background: url(./images/background.gif);
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#vid{
  width: 200px;
}


.p1 {
  color:#069; 
  cursor:pointer;
}


#slides {
  left: 50px;
  list-style-type: none;
}


.slide {
  display: none;
}

#projects{
  padding: 100px;
}
#mary{
  display: none;
}

#web{
  display: none;
}

#java{
  display: none;
}

#resume{
  display: none;
}