body {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.4;
  font-family: 'Lexend Mega', sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
}
h1{
	font-size: 200px;
}