/* * {
    margin: 0;
    padding: 0;
} */

@font-face {
    font-family: vcr;
    src: url(VCR\ OSD\ Mono.ttf)
}

body{
    font-family: vcr;
    src: url(VCR\ OSD\ Mono.ttf)
}

#container{
    width: 60%;
    left: 100px;
    display: flex;
    flex-direction: row;
}

#slides {
    left: 50px;
    list-style-type: none;
}


.slide {
    display: none;
}

.prev
{
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  padding: 16px;
  color: rgb(190, 10, 10);
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  margin-top: 5px;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  left: 510px;
  width: auto;
  padding: 16px;
  color: rgb(190, 10, 10);
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  margin-top: 5px;
}

controls{
    display:none;
}

#slides img {
    max-width: 500px;
    padding: 100px 0;
    z-index: 2;
}


.title {
    display: flex;
    flex-direction: row;
    font-family: vcr;
    color: rgb(0, 0, 0);
    z-index: 2;
}

.contents {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loulou {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.selected{
    color: magenta;
}

.titleColumn {
    flex: 50%;
}

.overlay{
    
}

h1{
    position: fixed;
}

h2{
    position: fixed;
    right: 20px;
    text-align: right;
}

a{
    text-decoration: none;
    color: black;
}

.sub{
    position: sticky;
    top: 80px;
    display: flex;
    align-items:flex-end;
    margin-left: 60%;
    padding: 5px;
}

.proj{
    position: sticky;
    top: 80px;
    display: flex;
    align-self:flex-start;
    padding: 5px;
}

.proj1{
    position: sticky;
    top:80px;
    display: flex;
    flex-direction: row;
    align-self:flex-start;
}

.proj2{
    position: sticky;
    top: 120px;
    align-items:center;
    padding: 5px;
}

.proj2g{
    position: sticky;
    top: 200px;
    text-align: right;
    padding: 5px;
    padding-left: 50%;
}

.proj3{
    position: sticky;
    top: 400px;
    margin-left: 20%;
    padding: 5px;
}

.projux1{
    position: sticky;
    top: 200px;
    display: flex;
    margin-left: 0%;
    padding: 5px;
    font-size: larger;
}

.projux2{
    position: sticky;
    top: 400px;
    display: flex;
    margin-left: 82%;
    padding: 5px;
}

.projux3{
    position: sticky;
    top: 500px;
    display: flex;
    margin-left: 0%;
    padding: 5px;
}

.phone {
    display: none;
}

.phonecont{
    display: none;
}

h5{
    position: sticky;
    font-size: larger;
    font-weight:900;
    font-family: vcr;
    src: url(VCR\ OSD\ Mono.ttf); 
}

footer{
    margin-top: 200px;
    text-align: center;
}

.clickable{
    text-decoration: underline;
}

.green{
    
}



@media only screen and (max-width: 768px) {
    .contents{
        display: none;
    }
    
    img{
        margin: 0px;
    }

    .images{
        display: none;
    }

    .images2{
        display: none;
    }

    .phonecont{
        display: flex;
        flex-direction: column;
    }

    .title {
        display: none;
    }

    .titleColumn {
        display: none;
    }
    
    .phone {
        margin: 0px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        font-family: vcr;
        src: url(VCR\ OSD\ Mono.ttf); 
    }

    h3{
        font-size:xx-large;
    }

    h4{
        font-size: medium;
        text-align: right;
    }
    
    h5{
        font-size: larger;
        text-align: center;
        font-weight:900;
        font-family: vcr;
        src: url(VCR\ OSD\ Mono.ttf); 
    }

    h6{
        font-size: medium;
        font-family: vcr;
        src: url(VCR\ OSD\ Mono.ttf); 
    }
    
    .projux1{
        display: none;
    }

    .loulou{
        display: none;
    }
}