body{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	display:flex;
	justify-content: center;
	flex-direction: column;
	line-height: 1.4;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #BE260E;
  border-radius: 50%;
  display: inline-block;
}

a{
	color: #BE260E;
}